[Desktop Entry]
Name=Ciano
Comment=A simple multimedia file converter
Icon=com.github.robertsanseries.ciano
Exec=com.github.robertsanseries.ciano
Terminal=false
Type=Application
Categories=GNOME;GTK;Video;AudioAudio;Photography;AudioVideo;
Keywords=converter;multimedia;audio;video;photo;photography;
